@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Sketcher.Web.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Sketcher.Web.Shared.MainLayout)">
            <p>Not found</p>
        </LayoutView>
    </NotFound>
</Router>
